.blog_entry {
  border: none;
}

.title {
  display: inline-block;
  margin: 5px 5px 5px 5px;
  padding: 5px 50px 5px 50px;
  background-color: green;
  border: 5px solid green;
  border-radius: 5px;
}

.blog {
  background-color: green;
  border: 5px solid green;
  border-radius: 5px;
}
