.Green{
  background-color: green;
}

.Green #header {
  color: #002200;
}

.Green #nav {
  background-color: #00cc00;
  border-color: #00cc00;
}

.Green #nav > li {
  background-color: #22ff22;
  border-color: #22ff22;
}

.Green a {
  color: green;
}

.Green #body {
  background-color: #00cc00;
  border-color: #00cc00;
}

.Green #sidebar {
  background-color: green;
  border-color: green;
}

.Green h2 {
  color: #002200;
}

.Green h3 {
  color: #002200;
}

.Green h4 {
  color: #002200;
}

.Green h5 {
  color: #002200;
}


