.Rainbow {

  background-color: orange;

}


/*


.Rainbow #header {

  color: #002200;

}*/


.Rainbow #nav {

  background-color: red;

  border-color: #cc0000;

}


.Rainbow #nav > li {

  background-color: blue;

  border-color: blue;

}


.Rainbow a {

  color: #fe0;

}


.Rainbow #body {

  background-color: #00cc00;

  border-color: #00cc00;

}


.Rainbow #sidebar {

  background-color: purple;

  border-color: purple;

}


.Rainbow h3 {

  color: violet;

}


.Rainbow h4 {

  color: violet;

}


.Rainbow h5 {

  color: violet;

}


