.Unicorn html {

  background-image: url("unicorn.jpg");
  background-size: cover;

}




.Unicorn #header {

  color: #c0c0ff;
  text-shadow: 2px 2px 8px black;

}


.Unicorn #nav {

  background-color: rgba(0,0,255,0.3);

  border-color: #cdffff;

}


.Unicorn #nav > li {

  background-color: rgba(0,0,255,0.4);

  border-color: #cdffff;

}


.Unicorn a {

  color: #cdffff;

}


.Unicorn #body {

  background-color: rgba(0,0,255,0.4);

  border-color: blue;

}


.Unicorn #sidebar {

  background-color: rgba(224,255,255,0.7);

  border-color: #cdffff;

}

.Unicorn #body > table > tbody > tr > td > ul > li {
  color: white;
}

.Unicorn h2 {
  color: #cdffff;
}


.Unicorn h3 {

  color: black;

}


.Unicorn #sidebar > h4 {

  color: black;

}

.Unicorn #body > h4 {
  color: #cdffff;
}


.Unicorn h5 {

  color: black;

}


